<header class="table-header">
  <div>
    <h3>مبيعات التذاكر</h3>

    <div class="search-and-filter">
      <span class="p-input-icon-right">
        <i>
          <img src="assets/icons/search.svg" alt="search icon" />
        </i>

        <input
          #ticketsTableSearch
          pInputText
          type="text"
          (input)="
            ticketsTable.filterGlobal(ticketsTableSearch.value, 'contains')
          "
          placeholder="بحث عن ..."
        />
      </span>

      <span class="icon">
        <img src="assets/icons/filter.svg" alt="filter icon" />
      </span>

      <span class="icon">
        <img src="assets/icons/sort.svg" alt="filter icon" />
      </span>
    </div>
  </div>

  <div>
    <div class="table-switch">
      <p-inputSwitch
        [(ngModel)]="checkedSwitch"
        [style]="{ transform: 'rotate(180deg)' }"
      ></p-inputSwitch>
      <span>مفعلة</span>
    </div>

    <p-button styleClass="p-button-sm">حجز تذكرة جديدة</p-button>
  </div>
</header>
