<section>
  <p-table
    #ticketsTable
    [value]="tickets"
    [paginator]="true"
    [rows]="rows"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="rowsPerPageOptions"
    currentPageReportTemplate="'عرض {first} إلى {last} من أصل {totalRecords}'"
    [first]="first"
    [globalFilterFields]="[
      'id',
      'user.name',
      'user.phone',
      'ticketPrice',
      'cinemas',
      'numberOfPeople',
      'numberOfPurchases'
    ]"
    class="prime-table"
  >
    <ng-template pTemplate="caption">
      <header class="table-header">
        <div>
          <h3>مبيعات التذاكر</h3>

          <span class="p-input-icon-right">
            <i>
              <img src="assets/icons/search.svg" alt="search icon" />
            </i>

            <input
              #ticketsTableSearch
              pInputText
              type="text"
              (input)="
                ticketsTable.filterGlobal(ticketsTableSearch.value, 'contains')
              "
              placeholder="بحث عن ..."
            />
          </span>

          <span class="icon">
            <img src="assets/icons/filter.svg" alt="filter icon" />
          </span>

          <span class="icon">
            <img src="assets/icons/sort.svg" alt="filter icon" />
          </span>
        </div>

        <div>
          <div class="table-switch">
            <p-inputSwitch
              [(ngModel)]="checkedSwitch"
              [style]="{ transform: 'rotate(180deg)' }"
            ></p-inputSwitch>
            <span>مفعلة</span>
          </div>

          <p-button>حجز تذكرة جديدة</p-button>
        </div>
      </header>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>المستخدم</th>
        <th>رقم التذكرة</th>
        <th pSortableColumn="ticketPrice">
          قيمى التذكرة
          <p-sortIcon
            field="ticketPrice"
            style="margin-inline-start: 0.57rem"
          ></p-sortIcon>
        </th>
        <th>السينمات</th>
        <th>عدد الأشخاص</th>
        <th>عدد مرات الشراء</th>
        <th>التذكرة</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-ticket>
      <tr>
        <td class="td-id">{{ ticket.id }}</td>
        <td>
          <app-user [user]="ticket.user"></app-user>
        </td>
        <td class="td-ticket-number">{{ ticket.ticketNumber }}</td>
        <td class="td-ticket-price">${{ ticket.ticketPrice }}</td>
        <td class="td-ticket-cinemas">{{ ticket.cinemas.join(", ") }}</td>
        <td class="td-number-of-people">{{ ticket.numberOfPeople }}</td>
        <td class="td-number-of-purchases">{{ ticket.numberOfPurchases }}</td>
        <td>
          <app-ticket-file [ticketFile]="ticket.ticketFile"></app-ticket-file>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <footer class="table-pagination">
    <div class="view">
      <span>عرض</span>

      <!-- run function when value change -->
      <p-dropdown
        [options]="rowsPerPageOptions"
        [(ngModel)]="rows"
        (onChange)="onRowsChange($event)"
      ></p-dropdown>

      <span>من اصل {{ tickets.length }}</span>
    </div>

    <div class="paginator" *ngIf="tickets.length > rows">
      <button class="arrow-icon" [disabled]="isFirstPage()" (click)="prev()">
        <i class="pi pi-angle-right"></i>
      </button>

      <button
        *ngFor="let page of pages"
        class="page-number"
        [ngClass]="{ active: isPageActive(page) }"
        (click)="goToPage(page)"
      >
        {{ page + 1 }}
      </button>

      <button class="arrow-icon" [disabled]="isLastPage()" (click)="next()">
        <i class="pi pi-angle-left"></i>
      </button>
    </div>
  </footer>
</section>
