<section>
  <p-table
    #ticketsTable
    [value]="tickets"
    [paginator]="true"
    [rows]="rows"
    responsiveLayout="stack"
    [breakpoint]="'1024px'"
    [tableStyleClass]="'p-table-style'"
    [rowsPerPageOptions]="rowsPerPageOptions"
    currentPageReportTemplate="'عرض {first} إلى {last} من أصل {totalRecords}'"
    [first]="first"
    [globalFilterFields]="[
      'id',
      'user.name',
      'user.phone',
      'ticketPrice',
      'cinemas',
      'numberOfPeople',
      'numberOfPurchases'
    ]"
    class="prime-table"
  >
    <ng-template pTemplate="caption">
      <header class="table-header">
        <div>
          <h3>مبيعات التذاكر</h3>

          <div class="search-and-filter">
            <span class="p-input-icon-right">
              <i>
                <img src="assets/icons/search.svg" alt="search icon" />
              </i>

              <input
                #ticketsTableSearch
                pInputText
                type="text"
                (input)="
                  ticketsTable.filterGlobal(
                    ticketsTableSearch.value,
                    'contains'
                  )
                "
                placeholder="بحث عن ..."
              />
            </span>

            <span class="icon">
              <img src="assets/icons/filter.svg" alt="filter icon" />
            </span>

            <span class="icon">
              <img src="assets/icons/sort.svg" alt="filter icon" />
            </span>
          </div>
        </div>

        <div>
          <div class="table-switch">
            <p-inputSwitch
              [(ngModel)]="checkedSwitch"
              [style]="{ transform: 'rotate(180deg)' }"
            ></p-inputSwitch>
            <span>مفعلة</span>
          </div>

          <p-button styleClass="p-button-sm">حجز تذكرة جديدة</p-button>
        </div>
      </header>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>#</th>
        <th>المستخدم</th>
        <th>رقم التذكرة</th>
        <th pSortableColumn="ticketPrice">
          قيمى التذكرة
          <p-sortIcon
            field="ticketPrice"
            style="margin-inline-start: 0.57rem"
          ></p-sortIcon>
        </th>
        <th>السينمات</th>
        <th>عدد الأشخاص</th>
        <th>عدد مرات الشراء</th>
        <th>التذكرة</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-ticket>
      <tr>
        <td class="td-id">
          <span class="p-column-title">#</span>
          {{ ticket.id }}
        </td>

        <td>
          <span class="p-column-title">المستخدم</span>
          <app-user [user]="ticket.user"></app-user>
        </td>

        <td class="td-ticket-number">
          <span class="p-column-title">رقم التذكرة</span>
          {{ ticket.ticketNumber }}
        </td>

        <td class="td-ticket-price">
          <span class="p-column-title">قيمى التذكرة</span>
          ${{ ticket.ticketPrice }}
        </td>

        <td class="td-ticket-cinemas tooltip-parent">
          <span class="p-column-title">السينمات</span>
          {{
            ticket.cinemas.length > 3
              ? ticket.cinemas.slice(0, 3).join(", ") + "..."
              : ticket.cinemas.join(", ")
          }}

          <div class="tooltip tooltip-top" *ngIf="ticket.cinemas.length > 3">
            {{ ticket.cinemas.join(", ") }}
          </div>
        </td>

        <td class="td-number-of-people">
          <span class="p-column-title">عدد الأشخاص</span>
          {{ ticket.numberOfPeople }}
        </td>

        <td class="td-number-of-purchases">
          <span class="p-column-title">عدد مرات الشراء</span>
          {{ ticket.numberOfPurchases }}
        </td>

        <td>
          <span class="p-column-title">التذكرة</span>
          <app-ticket-file [ticketFile]="ticket.ticketFile"></app-ticket-file>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <footer class="table-pagination">
    <div class="view">
      <span>عرض</span>

      <p-dropdown
        [options]="rowsPerPageOptions"
        [(ngModel)]="rows"
        (onChange)="onRowsChange($event)"
      ></p-dropdown>

      <span>من اصل {{ tickets.length }}</span>
    </div>

    <div class="paginator" *ngIf="tickets.length > rows">
      <button
        class="arrow-icon"
        [disabled]="isFirstPage()"
        (click)="prev()"
        title="السابق"
        aria-label="السابق"
      >
        <i class="pi pi-angle-right"></i>
      </button>

      <button
        *ngFor="let page of pages"
        class="page-number"
        [ngClass]="{ active: isPageActive(page) }"
        (click)="goToPage(page)"
      >
        {{ page + 1 }}
      </button>

      <button
        class="arrow-icon"
        [disabled]="isLastPage()"
        (click)="next()"
        title="التالي"
        aria-label="التالي"
      >
        <i class="pi pi-angle-left"></i>
      </button>
    </div>
  </footer>
</section>
