<div class="ticket-card">
  <header class="ticket-header">
    <h2 class="ticket-title">عرض التذكرة الخاصة بالفيلم</h2>

    <div class="ticket-url">
      <p>www.tazkty.com/473847</p>

      <button>
        <img
          src="assets/icons/copy.svg"
          alt="copy icon"
          aria-label="copy icon"
          title="نسخ الرابط"
        />
      </button>
    </div>

    <p class="ticket-date">فعال حتي 15 يوليو 2023</p>

    <button class="delete-btn">
      <img
        src="assets/icons/delete.svg"
        alt="delete button"
        title="حذف التذكرة"
        aria-label="حذف التذكرة"
      />
    </button>
  </header>

  <div class="ticket-line">
    <div class="dash-line"></div>
  </div>

  <footer class="ticket-footer">
    <div>
      <p>خصم</p>

      <div class="discount">
        <span>25%</span>

        <button class="share-btn">
          <span>
            <img
              src="assets/icons/share.svg"
              alt="share icon"
              aria-label="مشاركة التذكرة"
            />
          </span>

          <span>مشاركة</span>
        </button>
      </div>
    </div>

    <div>
      <img
        src="assets/images/qr.png"
        alt="qr code"
        aria-label="scan qr code to get more info"
      />
    </div>
  </footer>
</div>
