.user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.47rem;
}

.user .info {
  display: flex;
  flex-direction: column;
}

.user .info h4 {
  color: var(--text-color);
  font-size: 0.72619rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.24488rem;
}

.user .info p {
  color: #92a1ad;
  font-family: Poppins;
  font-size: 0.62244rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.24488rem;
}
